* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.HeroSection {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.textBox h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

.textBox p {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}


.ButtonDesign {
    background-color: rgb(48, 67, 68);
    color: white;
    width: 95px;
    height: 30px;
    margin: 1rem 1rem;
    border-radius: 1rem;
}


.Borders {
    margin-left: 10px;
    border: 2px solid black;
    height: 100px;
    width: 250px;
    margin-bottom: 1rem;
}

.SocialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.SocialMedia img {
    height: 62px;
}


/* Copy coded */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AnimationSection {
    overflow-x: hidden;
}

.SideAni {
    border: 2px solid black;
    height: 7rem;
    width: 22rem;
    margin-left: 10px;
    display: flex;
    animation: Animation 35s linear infinite reverse;
    align-items: center;
    box-shadow: 10px 4px 10px 1px;
    margin-bottom: 1.5rem;

}

.Namesocial {
    display: flex;
    flex-direction: column;

}

.Namesocial h3 {
    margin-top: -10px;
    margin-top: -10px;
}


.SideAni img {
    margin-left: 5px;
    height: 80px;
}

.Run {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}


.Skill-Grid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0fr;
    gap: 1rem;

}



.Skill-Image img {
    height: 350px;
    margin-left: 0.5rem;
}

.Skill-icon img {
    height: 42px;
    margin-left: 20px;

}



.Skill-Heading h1 {
    font-family: 'Courier New', Courier, monospace;
}

.Skill-Border {
    margin-top: 1.5rem;
    width: 15rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Skill-text h1 {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.Skill-Border:hover {
    background-color: rgb(192, 188, 188);
    border-radius: 2rem;
    box-shadow: 2px 2px 2px 2px;
    width: 14rem;
    align-items: center;
    scale: 1;

}

.About-Skill {
    display: flex;
    gap: 5rem;
    padding: 0 3.5rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.AnimationSection h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 20px;

}

.SkillHeading {
    margin-left: 20px;
}

.SocialBtn-Design {
    width: 60px;
    height: 30px;
    margin-left: 20px;
    background-color: rgb(160, 181, 245);
    color: black;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 5px 2.5px 5px 2px;
}



@keyframes Animation {
    0% {
        margin-left: -600%;
    }

    100% {
        margin-left: 600%;
    }
}

@media only screen and (max-width:320px),
(max-width:768px) {

    .HeroSection {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 14px;
        margin-left: -40px;
        width: 100%;
        margin-top: 15px;
    }

    .HeroSection img {
        width: 350px;
        margin-left: -15px;

    }

    .Skill-Grid {
        grid-template-columns: 1fr 05fr;
        margin-left: 0px;
        gap: 2px;
        margin-left: -5px;
    }

    .Skill-Image img {
        margin-left: 5rem;
        height: 250px;
        margin-bottom: -3rem;
    }

    .About-Skill {
        padding: 0;
        margin-right: 0px;
    }

    .Skill-text h1 {
        font-size: 18px;
    }

    .Skill-Border {
        gap: 1;
        width: 13rem;
    }

    .SideAni {
        width: 14.5rem;
        height: 4.5rem;
    }

    .SideAni img {
        height: 48px;
    }

    .SideAni h1 {
        font-size: 18px;
    }

    .SocialBtn-Design {
        width: 50px;
        height: 20px;
        font-size: 12px;
        margin-bottom: 15px;
    }

    .SideAni h1 {
        margin-top: 15px;
    }

    
}